{{!-- <img class="country-svg" src="{{flags.svg}}" alt=""> --}}
<h2>{{name.common}}</h2>
<ul>
   <li>
      <h3>Capital:</h3>
      <p>{{capital}}</p>
   </li>
   <li>
      <h3>Population:</h3>
      <p>{{population}}</p>
   </li>
   <li>
      <h3>Languages:</h3>
      <p>{{languages}}</p>
   </li>
</ul>